@import url("https://fonts.googleapis.com/css2?family=Molengo&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-black: #121212;
  --theme-pink: #f6074a;
}

body {
  background-color: var(--background-black);
  font-family: "Molengo", sans-serif;
}

.show {
  display: block;
}

.hide {
  display: none;
}
