@import url("https://fonts.googleapis.com/css2?family=Molengo&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul,
  ol {
    list-style: revert;
  }
  /* h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: revert;
  }
  code {
  } */
}

:root {
  --background-black: #121212;
  --theme-pink: #f6074a;
}

body {
  background-color: var(--background-black);
  font-family: "Molengo", sans-serif;
}

.show {
  display: block;
}

.hide {
  display: none;
}
